<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "me.jpeg"%>
	</div>

	<div id="content">
		<h1>About Me</h1>
		<p>My name is Andrea and I'm a noob rails deloper, this is my first blog done in rails! It still undergoing improvements, but if you want to see what else I'm up to, check my <a href="http://www.github.com/dede79" target="_blank"> github</a> account!</p>
	</div>
</div>