<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>About Me</h1>
		<p>My name is Andrea and I'm a noob rails deloper, this is my first blog in rails! follow me at <a href="http://www.twitter.com/andrea_hurren">@andrea_hurren</a>on twitter</p>
	</div>
</div>