<div id="post_content">
<p class = "title">
  Title: <%= @post.title %>
</p>

<p class = "date">
  Submitted <%= time_ago_in_words(@post.created_at) %> Ago
</p>

<p class= "body">
  Post: <%= @post.body %>
</p>
</div>
